@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.container-pokemon-details {
    display: flex;
    justify-content: center;
    padding: 2rem 5rem;
    font-family: 'Kdam Thmor Pro';
}

.content-pokemon {
    width: 100%;
    background-color: #f1f1f1f1;
    border-radius: 5px;
    padding: 2rem;
    -webkit-box-shadow: 0px 0px 14px 3px #000000bf;
    -moz-box-shadow: 0px 0px 14px 3px #000000bf;
    box-shadow: 0px 0px 14px 3px #000000bf;
}

.header-detail {
    display: flex;
    justify-content: space-between;
}

.link-back {
    text-decoration: none;
    background-color: #6745b6;
    color: #f1f1f1;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all ease 0.3s;
}

.link-back:hover {
    background-color: #471aaf;
}

.btn-favorite {
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    border: 2px solid #6745b6;
    border-radius: 5px;
    padding: 0 1rem;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transform: scale(0.9);
    transition: all ease 0.3s;
}

.btn-favorite span {
    color: #ce2f2f;
}

.btn-favorite:hover {
    transform: scale(1);
}

.container-content-pokemon {
    display: flex;
    justify-content: center;
}


.content-pokemon-details {
    display: flex;
}

.content-img-pokemon {
    display: flex;
    justify-content: center;
}

.content-img-pokemon img {
    min-width: 250px;
    width: 450px;
}

.content-informations-pokemon {
    width: 100%;
    font-size: 20px;
}

.content-informations-pokemon {
    width: 100%;
    display: flex;
    justify-content: center;
}


.content-informations {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bold;
    justify-content: center;
}

.content-informations>div>div {
    width: 180px;
    background-color: #6B7280;
    color: #f1f1f1;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
    border-radius: 4px;
    transform: scale(0.8);
    transition: all ease 0.4s;
    box-shadow: 0px 0px 14px 3px #7c828d;
}

.content-informations>div>div:hover {
    transform: scale(1);
}

.content-types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.content-types>div>div {
    width: 180px;
    background-color: #6745b6;
    color: #f1f1f1;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
    border-radius: 4px;
    transform: scale(0.8);
    transition: all ease 0.4s;
    box-shadow: 0px 0px 14px 3px #8360d6;
}

.content-types>div>div:hover {
    transform: scale(1);
}

.content-abilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content-abilities div {
    margin: 0.5rem 0;
}

.content-abilities div>div {
    display: inline-block;
    width: 180px;
    text-align: center;
    padding: 1rem;
    background-color: #ff8800;
    color: #f1f1f1;
    border-radius: 4px;
    transform: scale(0.8);
    transition: all ease 0.4s;
    box-shadow: 0px 0px 14px 3px #fa9c31;
}

.content-abilities div>div:hover {
    transform: scale(1);
}

.content-attributes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.content-attributes div h3 {
    text-align: center;
}

@media(max-width: 1034px) {
    .content-pokemon-details {
        flex-direction: column;
    }
}

@media(max-width: 768px) {
    .container-pokemon-details {
        padding: 0rem 0rem;
    }

    .content-attributes div {
        margin: 1rem 0;
    }
}

@media(max-width: 425px) {
    .header-detail {
        justify-content: center;
    }

    .content-img-pokemon img {
        width: 300px;
    }
}